<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Forestry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="StormsEntities"
         connectionString="metadata=res://*/StormsModel.csdl|res://*/StormsModel.ssdl|res://*/StormsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=xxxxx;password=xxxxx;user id=xxxxx&quot;"
         providerName="System.Data.EntityClient" />
    <add name="OracleDbContext"
         providerName="Oracle.ManagedDataAccess.Client"
         connectionString="User Id=xxxxx;Password=xxxxx;Data Source=oracle" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <edmMappings>
        <edmNumberMapping>
          <add NETType="int16" MinPrecision="1" MaxPrecision="5" DBType="Number" />
        </edmNumberMapping>
      </edmMappings>
      <settings>
        <!--<setting name="TNS_ADMIN" value="xxxxx:\Programs\Oracle\product\11.2.0\client_1\network\admin" />-->
        <setting name="TNS_ADMIN" value="xxxxx:\oracle\product\11.2.0.3\client_32\network\admin" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>
  <applicationSettings>
    <Forestry.Properties.Settings>
      <setting name="ContentApplicationName" serializeAs="String">
        <value>ForestryStormsOutbound</value>
      </setting>
      <setting name="ContentUserId" serializeAs="String">
        <value>xxxxx</value>
      </setting>
      <setting name="ManagedWorkOrderUri" serializeAs="String">
        <value>/Energy-Delivery/ManagedWorkOrder/api/</value>
      </setting>
      <setting name="MqApiUri" serializeAs="String">
        <value>/enterprise/messaging/v2/queues/</value>
      </setting>
      <setting name="ManagedWorkOrderApiResourse_IfExceptionConditions"
        serializeAs="String">
        <value>v1/work-requests/{workRequestId}/ifexception-conditions</value>
      </setting>
      <setting name="ManagedWorkOrderApiResourse_MilestoneRequirements"
        serializeAs="String">
        <value>v1/work-requests/{workRequestId}/milestone-requirements</value>
      </setting>
      <setting name="ManagedWorkOrderApiResourse_WorkRequest" serializeAs="String">
        <value>v1/work-requests/{workRequestId}</value>
      </setting>
      <setting name="RemedyUriHost" serializeAs="String">
        <value>https://xxxxx/enterprise/service-management</value>
      </setting>
      <setting name="RemedyUri" serializeAs="String">
        <value>/v1/incidents/</value>
      </setting>
      <setting name="ManagedWorkOrderApiResourse_WorkRequestTrackings"
        serializeAs="String">
        <value>v1/work-requests/{workRequestId}/trackings</value>
      </setting>
      <setting name="ManagedWorkOrderUriHost" serializeAs="String">
        <value>xxxxx</value>
      </setting>
      <setting name="ManagedWorkOrderApiResourse_MilestoneRequirement"
        serializeAs="String">
        <value>v1/work-requests/{workRequestId}/milestone-requirements/{id}</value>
      </setting>
      <setting name="Env" serializeAs="String">
        <value>DEV</value>
      </setting>
      <setting name="ManagedWorkOrderUriCredentials" serializeAs="String">
        <value>xxxxx</value>
      </setting>
      <setting name="MqApiUriHost" serializeAs="String">
        <value>https://xxxxx</value>
      </setting>
      <setting name="STORMS_EntityFrameworkConnectionString" serializeAs="String">
        <value>data source=xxxxx; password=xxxxx; user id=xxxxx</value>
      </setting>
      <setting name="RemedyUriCredentials" serializeAs="String">
        <value>xxxxx</value>
      </setting>
      <setting name="MqApiUriCredentials" serializeAs="String">
        <value>xxxxx</value>
      </setting>
    </Forestry.Properties.Settings>
  </applicationSettings>
</configuration>
